* { /* aqui esta todos os elementos do HTML*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/*  Configurações gerais da página */

html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: #000;
    font-family: Arial, sans-serif;
    overflow: hidden;
}
/* controla a tela inicial - tamanho fixo em qualquer tela */
.tela-inicial {
    width: 100vw;
    height: 100vh;
    height: 100dvh;

    container-type: inline-size;

    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;
}

/* aqui definimos o tamanho da capa*/
.capa-jogo {
    width: 100%;
    height: 100%;
    object-fit: contain;

    image-rendering: pixelated;
}
/* aqui é o conteúdo do botão*/
#btnPlay {
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);

    padding: clamp(8px, 1.098cqw, 15px) clamp(20px, 2.928cqw, 40px);
    font-size: clamp(14px, 1.757cqw, 24px);
    font-weight: bold;

    cursor: pointer;

    border: clamp(2px, 0.293cqw, 4px) solid white;
    background: #A9020B;
    color: white;

    image-rendering: pixelated;
}

#btnPlay:hover {
    transform: translate(-50%, -50%) scale(1.1);
}
