* { /* aqui esta todos os elementos do HTML*/
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%;
}
/*  Configurações gerais da página */
body {
    background-color: #000;
    font-family: Arial, sans-serif;
    overflow: hidden;

    /* centraliza a "cena" (tamanho fixo) dentro da janela/tela do celular */
    display: flex;
    justify-content: center;
    align-items: center;
}
/* controla a tela inicial - tamanho fixo em qualquer tela */
.tela-2 {
    width: min(100vw, 177.86vh);
    aspect-ratio: 1366 / 768;

    container-type: inline-size;

    position: relative;
}

.chao {
    position: absolute;
    bottom: 0;
    left: 0;

    width: 100%;
    height: 15%;

    background-color: #4a2f20;
}

/* aqui definimos o tamanho da capa*/
.cama {
    position: absolute;
    width: 51.245%;
    height: 58.594%;
    bottom: 2.604%;
    left: 30%;
}

.dormindo{
    position: absolute;
    width: 29.283%;
    height: 19.531%;
    bottom: 32.552%;
    left: 40%;
}

/* aplicada no lugar de .dormindo quando o personagem acorda
   ajuste width/height/bottom aqui até o tamanho ficar igual ao de .dormindo na tela */
.acordado{
    position: absolute;
    width: 29.283%;
    height: 19.531%;
    bottom: 32.552%;
    left: 40%;
}

.comoda{
    position: absolute;
    width: 21.962%;
    height: 37.760%;
    bottom: 11.068%;
    left: 7.321%;
}

.janela {
    position: absolute;
    width: 21.962%;
    height: 37.760%;
    bottom: 45.573%;
    left: 8%;
}

.relogio {
    position: absolute;
    top: 59.6%;
    left: 19.5%;

    font-size: 1.2445cqw;
    font-weight: bold;
    color: red;

    image-rendering: pixelated;
}
/* aqui é o conteúdo do botão*/
#btnAcordar {
    position: absolute;
    top: 30%;
    left: 55%;
    transform: translate(-50%, -50%);

    padding: clamp(8px, 1.098cqw, 15px) clamp(20px, 2.928cqw, 40px);
    font-size: clamp(14px, 1.757cqw, 24px);
    font-weight: bold;

    cursor: pointer;

    border: clamp(2px, 0.293cqw, 4px) solid white;
    background: #A9020B;
    color: white;

    image-rendering: pixelated;
}

#btnAcordar:hover {
    transform: translate(-50%, -50%) scale(1.1);
}
